body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 15px;
  padding: 15px;
  background-color: #c3cafc;
}

.search-input {
  padding: 18px;
  font-size: 18px;
  width: 400px;
  margin-right: 10px;
  margin-left: 100px;
  border-radius: 20px;
  border: solid 2px black;
}

.search-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #9500ff;
  color: white;
  border: solid 2px rgb(5, 0, 144);
  border-radius: 50px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #6e04ba;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
  align-items: center;
} 

.card {
  border: 1px solid #2018c6;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.card-image {
  width: 100%;
  border-radius: 8px;
}

.card-title {
  font-size: 18px;
  margin: 10px 0;
}

.card-artist {
  font-size: 14px;
  color: #555;
}

.card-audio {
  width: 100%;
  margin-top: 10px;
}